.god-input-text 
{
	width: 240px;
	font-size: 16px;
	color: #666;

}
.god-datepicker-wrapper
{
	width: 240px;
	font-size: 16px;
	color: #666;
	box-shadow: 2px 2px 8px 2px rgba(128,128,128,0.3);
	position: absolute;
}
.god-datepicker-wrapper .god-datepicker-header
{
	padding: 0 20px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #F0F0F0;
	border-bottom: 1px solid #E8E8E8;
	font-weight: bold;
}
.god-datepicker-wrapper .god-datepicker-btn
{
	font-family:serif;
	font-size: 20px;
	font-weight: bold;
	width: 20px;
	height: 50px;
	line-height: 50px;
	color: blue;
	cursor: pointer;
	text-decoration: none;
}
.god-datepicker-wrapper .god-datepicker-prev-btn
{
	float: left;
}
.god-datepicker-wrapper .god-datepicker-next-btn
{
	float: right;
}

.god-datepicker-wrapper .god-datepicker-body table
{
	width: 100%;
	border-collapse: collapse;
} 
.god-datepicker-wrapper .god-datepicker-body table th,
.god-datepicker-wrapper .god-datepicker-body table td
{
	height: 30px;
	text-align: center;
}
.god-datepicker-wrapper .god-datepicker-body table th
{ 
	font-size: 12px;
	height: 40px;
	line-height: 40px;
}
.god-datepicker-wrapper .god-datepicker-body table td
{
	border: 1px solid #f0f0f0;
	font-size: 10px;
	width: 14%;
	cursor: pointer;
}