<div v-lazy-load="[_iscroll,'htmls/InvestmentDetail/InvestmentDetail.js']">
	<div v-controller="InvestmentDetailCtrl" v-init="init()">
		<form name="investmentDetailForm" id="investmentDetailForm" class="fixSelect" v-submit="doQuery()" v-click="closeSelectBox($event,'investmentDetailForm')" novalidate style="display:none;">
			<!-- <div class="top02">
			筛&nbsp;选
			<input type="submit" class="trad_btn01" style="height:44px;border:0;" value="完成" />
			</div> -->
			<div class="con_box01 paddingtop02" style="padding-bottom:50px;">
				<div>
					<ul class="select_box">
						<li v-class='{"select_cur":activeDayFlag=="1W"}' v-click="changeDate($event,'1W')">
							近一周
						</li>
						<li v-class='{"select_cur":activeDayFlag=="1M"}' v-click="changeDate($event,'1M')">
							近一个月
						</li>
						<li v-class='{"select_cur":activeDayFlag=="3M"}' v-click="changeDate($event,'3M')">
							近三个月
						</li>
					</ul>
					<div class="cal_box">
						<!--  <span><img src="images/cal.png" width="7%"></span></br> -->
						<div>
							<span>开始日期：
								<input type="text" name="BeginDate" class="dateIcon1" id="beginDate" readonly="readonly" v-model="BeginDate">
							</span>
						</div>
						<div>
							<span>截止日期：
								<input type="text" name="EndDate" class="dateIcon1"id="endDate" readonly="readonly" v-model="EndDate">
							</span>
						</div>
					</div>
				</div>
				<div class="btn02_box">
					<input type="submit" class="btn02" value="查询" />
				</div>
			</div>

		</form>
		<div style="padding-top: 44px;">
			<div class="top01 fixTop fixTop wealthTopNoPic">
				直销银行交易明细 <span class="back_btn01"> <img src="images/back.png" v-click="goback()"> </span>
				<!-- <span class="pro_btn01" v-show="noticeIconF"> <img src="images/problem01.png"> </span> -->
			</div>
			<div class="transList-all" id="transList-all" style="margin-top:44px;">
				<div class="transList" id="transList">
					<div id="pullDown" class="pullDown">
						<span class="pullDownIcon"></span>
						<span class="pullDownLabel">下拉刷新</span>
					</div>
					<div class="select_btn">
						<ul>
							<li style="width:72%;padding-left: 12%;">
								{{dateStr}}
							</li>
							<li style="width:14%" v-click="showSelect()"><img src="images/select_btn.png" width="30%">
							</li>
						</ul>
					</div>
					<div class="con_box01">
						<div class="investment_record" v-repeat="row in list">
							<div>
								<span v-bind="row.BussDecl"></span>
								<span class="money_into" v-if="row.LoanFlag=='C'">+{{row.DealAmount>=0?row.DealAmount:-row.DealAmount|number:2}}&nbsp;元</span>
								<span class="money_out" v-if="row.LoanFlag=='D'">-{{row.DealAmount>=0?row.DealAmount:-row.DealAmount|number:2}}&nbsp;元</span>
							</div>
							<div>
								<span v-bind="row.DealDate|dateConvertFilter" style="float: left;"></span>
							</div>
						</div>
						<div v-show="recordNumber>0">
							<div id="pullUp" class="pullUp">
								<span class="pullUpIcon"></span>
								<span class="pullUpLabel">上拉加载更多</span>
							</div>
						</div>
					</div>
					<!--暂无信息-->
					<div v-show="recordNumber==0" style="position: relative;">
						<div class="l_norecord">
							<ul style="padding: 30px 0;">
								<p><img src="images/icon9.png" width="25" height="25">暂无记录!
								</p>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tips" style="margin-top:100%;">
			<ol>
				<li>
					更多交易明细请查询直销银行官方网站。
				</li>
			</ol>
		</div>
	</div>
</div>
