.box
{
	width: 1190px;
	height: 2787px;
	background: #FFFFFF;
	margin: 0 auto;
	/* box-sizing:content-box; */
	padding: 0 60px;
}
#top
{
	width: 40px;
	height: 40px;
	background: red;
	position: fixed;
	/* left: 50%; */
	/* margin-left: 600px; */
	right: 20px;
	bottom: 80px;
	background: url(./top_bg.png) no-repeat left top;
	display: none;
}
#top:hover
{
	background: url(./top_bg.png) no-repeat left -40px;
}